body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#banner {
    background-image: url("./images/banner.jpg");
    opacity: 0.75;
    color: white;
    width: auto;
}

.medicinal-apps, .env-apps{
    width: 100%;
    text-align: center;
    padding: 24px;
}

.medicinal-app-text, .env-app-text {
    margin: auto;
    text-align: left;
}

span {
    font-weight: bold;
}